.register-page {
    box-sizing: border-box;
    text-align: center;
}

.register-form{
    text-align: center;
    margin: 5px;
}

.register {
    margin: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 3px double black;
    background-color: white;
}

.check {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 12px;
    height: 12px;
}

.person{
    box-sizing: border-box;
    margin: 0px 35%;
    padding: 4px;
    text-align: left;
}

.sec {
    border: 3px double black;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

.log {
    border:none;
    background: none;
}

.login-button {
    text-decoration: none;
    margin: 5px;
    padding: 5px 30px 7px 30px;
    border-radius: 5px;
    border: 3px double black;
    background-color: white;
    color: black;
}

.login-button:hover {
    border: 3px solid black;
    color: black;
}

.register-button {
    margin: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 3px double black;
    background-color: white;
}

.register-button:hover {
    border: 3px solid black;
}


